.header {
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 25px;
}

.header-links a {
    color: white;
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
}

.first-section {
    background-color: rgb(14, 42, 54);
    color: white;
    font-family: arial;

    display: flex;
    flex-direction: column;
}

.second-layer {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    width: 250px;
}

.sub-details {
    width: 400px;
}

.sign-up-button {
    color: white;
    background-color: rgb(27, 100, 235);
    border: none;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
}

img {
    width: 100px;
}